html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
    font-family: Helvetica;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.flex-left, .flex-right {
  width: 50%;
  height: 100%;
}
.json-editor {
  width: 100%;
  height: 100%;
}
.jsoneditor-poweredBy {
  display: none;
}

.right-side-container {
  color: #1A1A1A;
  border: 1px solid #3883fa;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  line-height: 100%;
}

.right-side-top-bar {
  width: 100%;
  height: 35px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #3883fa;
  border-bottom: 1px solid #3883fa;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.right-side-top-bar button {
  width: 40px;
  background: none;
  color: #dddddd;
  border: solid 1px #dddddd;
  border-radius: 2px;
  vertical-align: middle;
  outline: none;
  font-size: 14px;
}
.right-side-top-bar button:hover {
  border: solid 1px white;
  color: white;
}
.right-side-top-bar button:active {
  background: rgba(255, 255, 255, 0.2);
}
.results-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.results-container > div {
  flex: 1;
  height: 50%;
}

#result-logs {
  overflow-y: scroll;
}

#result-logs ul {
  list-style: none;
}

#result-logs li {
  line-height: 30px;
}

#result-logs li.error {
  color: red;
}
#result-logs li.error:before {
  content: '×';
  display: inline-block;
  width: 30px;
  text-align: center;
}
#result-logs li.warning {
  color: orange;
}
#result-logs li.warning:before {
  content: '⚠';
  display: inline-block;
  width: 30px;
  text-align: center;
}
#result-logs li.info {
  color: blue;
}

.editor-title {
  position: absolute;
  z-index: 99;
  text-align: center;
  line-height: 36px;
  color: white;
  margin-left: 70px;
}

.tools {
  position: fixed;
  right: 0;
  top: 0;
}
